body {
    background-color: paleturquoise;
}

.gif-image {
    border: 2px solid black;
    border-radius: 8px;
}

.gif-button {
    background-color: #000000;
        color: #FFFFFF;
        padding: 10px;
        border-radius: 10px;
        width: 90px;
        height: 40px
}
h1{
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}
.input-container{
    float: right;
}
#gif-container {
    float: left;
}